# predicate
target
packages/signature-verification/verification-script/out
*/*.lock

## Misc
.DS_Store
vite.config.js.timestamp-*.mjs

# sdk
node_modules
cache
dist

# tmp
.github

# counter contract
counter
.turbo