/* body {
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 50px;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
}

.App[data-theme='dark'] {
  background-color: #282c34;
  color: white;
} */

/* button {
  all: unset;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
} */

button:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}

button:disabled {
  opacity: 0.3;
  cursor: default;
}

.Actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.Accounts > div {
  font-style: italic;
  border-radius: 4px;
  padding: 10px 10px;
}

.Error {
  color: #d60000;
  width: 100%;
  text-align: center;
}

.accountActions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100vw;
}

.Info {
  padding: 30px 100px;
}

.Counter {
  padding-top: 20px;
}

.AccountColumns > span {
  margin-left: 8px;
}

.AccountItem::after {
  content: '';
  display: block;
  width: 70%;
  height: 10px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 600px) {
  .accountActions {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  .Info {
    padding: 20px 30px;
  }

  .Accounts,
  .BottomInfo {
    width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: hidden;
    word-break: break-word;
  }

  .AccountColumns {
    display: flex;
    flex-direction: column;
  }

  .AccountColumns > span {
    margin-left: 0px;
    margin-top: 8px;
  }
}
