@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  margin: 0;
  font-family:
    'Inter',
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  @apply rounded-md px-6 py-2.5 font-mono text-sm font-medium transition-all duration-200;
}

.btn-primary {
  @apply border border-green-400/10 bg-green-900/50 text-green-400 hover:border-green-400/20 hover:bg-green-900/60;
}

.btn-secondary {
  @apply border border-zinc-400/20 bg-zinc-950 text-zinc-400 hover:border-zinc-400/25;
}

.btn-primary:disabled {
  @apply cursor-not-allowed border-indigo-400/10 bg-indigo-950 text-indigo-400;
}
